# You should set all these up before running Nagatoro
# If TENOR_KEY is not set, the Action module will not load

TOKEN=
PREFIX=.
STATUS=.help
STATUS_TYPE=3
# Status types:
# 0 - playing
# 1 - streaming
# 2 - listening
# 3 - watching

DB_URL=db
DB_USER=
DB_PASSWD=
DB_NAME=nagatoro

REDIS_URL=redis

TENOR_KEY=
