aiohttp==3.8.1; python_version >= "3.6" and python_full_version >= "3.8.0"
aiosignal==1.2.0; python_version >= "3.6" and python_full_version >= "3.8.0"
async-timeout==4.0.2; python_version >= "3.6" and python_full_version >= "3.8.0" \
    --hash=sha256:2163e1640ddb52b7a8c80d0a67a08587e5d245cc9c553a74a847056bc2976b15 \
    --hash=sha256:8ca1e4fcf50d07413d66d1a5e416e42cfdf5851c981d679a09851a6853383b3c
attrs==22.1.0; python_version >= "3.6" and python_full_version >= "3.8.0"
charset-normalizer==2.1.0; python_version >= "3.6" and python_full_version >= "3.8.0"
discord.py==2.0.0; python_full_version >= "3.8.0"
frozenlist==1.3.1; python_version >= "3.7" and python_full_version >= "3.8.0"
idna==3.3; python_version >= "3.7" and python_full_version >= "3.8.0" \
    --hash=sha256:84d9dd047ffa80596e0f246e2eab0b391788b0503584e8945f2368256d2735ff \
    --hash=sha256:9d643ff0a55b762d5cdb124b8eaa99c66322e2157b69160bc32796e824360e6d
multidict==6.0.2; python_version >= "3.7" and python_full_version >= "3.8.0"
yarl==1.8.1; python_version >= "3.7" and python_full_version >= "3.8.0"
